# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Python
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/

# Tests
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# IDE
.idea/
.vscode/

# Claude Code
tmpclaude-*
